  <%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
   <!--    <p><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</p>
 -->
   <p class = "error"><%= pluralize(@request.errors.count, "error:") %> Please allow for a minimum 1 week lead time. For urgent requests please email <a href = "mailto:kcunningham@lillypulitzer.com?Subject=CSR">Kathleen Cunningham</a> directly</p>


      <ul class ="error">
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Your Name"%><br />
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <%= f.label "Request Title" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Your Email" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :department %><br />  
    <%= f.select :department, [['IT'],['Marketing'],['Account Services'],['E-Commerce'],['General'],['Accounting'],['Retail'],['Visual'],['Merchandising'],['Production'],['Fabric and Trim'],['Tech Design'],['Print Design'],['Fashion Design'],['Print Design'],['Signature Stores'],['Specialtiy Stores'],['Major Stores'],['DC'],['Quality Control']] %>
  </div>
  <div class="field">
    <%= f.label "Date due:" %><br />
    <%= f.date_select :date,:default => 14.days.from_now %>
  </div>
 <!--  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div> 
  --> <div class="field">
    <%= f.label :budget %><br />
    <%= f.number_field :budget %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.select :priority, [['Low'],['Medium'],['High'],['Urgent']] %>
  </div>
  <div class="field">
    <%= f.label :deliverable %><br />
    <%= f.select :deliverable, [['Print'],['Digital'],['Presentation'],['Booklet'],['Multi-Media( Print, Digital, etc)'],['Other']] %>
  </div>
  <div class="textarea_box">
    <%= f.label :description %>
    <p class = "helper_text">Copy/Imagery/Print Suggestions and/or any other important informations<p> 
    <%= f.text_area :description %>
  </div>

  <div class ="field">
    <p>
    <%= f.label "Upload High Definition Image"%> 
    <%= f.file_field :image %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
