<p>
  <b>Status:</b>
  <%= @request.status %>
</p>
<p>
  <b>Title:</b>
  <%= @request.title %>
</p>

<p>
  <b>DB ID:</b>
  <%= @request.id %>
</p>
<p>
  <b>Accepted:</b>
  <%= @request.approved %>
</p>


<p>
  <b>Name:</b>
  <%= @request.name %>
</p>

<p>
  <b>Email:</b>
  <%= @request.email %>
</p>

<p>
  <b>Department:</b>
  <%= @request.department %>
</p>
<p>
  <b> Date Submitted:</b>
  <%= @request.created_at.strftime("%B %d, %Y") %>
</p>

<p>
  <b> Request Date:</b>
  <%= @request.date.strftime("%B %d, %Y") %>
</p>


<p>
  <b>Budget:</b>
  <%= @request.budget %>
</p>

<p>
  <b>Quantity:</b>
  <%= @request.quantity %>
</p>

<p>
  <b>Priority:</b>
  <%= @request.priority %>
</p>

<p>
  <b>Deliverable:</b>
  <%= @request.deliverable %>
</p>

<p>
  <b>Description:</b>
  <%= @request.description %>
</p>

<p>
  <b>Comments:</b>
  <%= @request.comments %>
</p>
