<h1>Listing requests</h1>


<% form_tag requests_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<table border ="1">
  <tr>
    <th>Job id</th>
    <th>Approved</th>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Date</th>
<!--     <th>Time</th>
   <th>Budget</th>
    <th>Quantity</th> -->
    <th>Priority</th>
    <th>Deliverable</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= link_to request.id, request %></td>
    <td><%= request.approved %> </td>
    <td><%= request.name %></td>
    <td><%= request.email %></td>
    <td><%= request.department %></td>
    <td><%= request.date %></td>
<!--     <td><%= request.time %></td>
  <td><%= request.budget %></td>
    <td><%= request.quantity %></td> -->
    <td><%= request.priority %></td>
    <td><%= request.deliverable %></td>
    <td><%= request.description %></td>
    <td><%= link_to 'Show', request %></td>
    <td><%= link_to 'Edit', edit_request_path(request) %></td>
    <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request', new_request_path %>
