<header>
<div class ="section group printhide">

	<div class = "col span_6_of_12">
		<h1>Listing requests</h1>
		<div class = "newrequest"><%= link_to 'New Request', new_request_path %> </div><br>
			Sort By: <%= sortable "deliverable", "Deliverable" %>
	</div>

	<div class = "col span_6_of_12 rightalign toprightcolumn">
			
		<%= form_tag requests_path, :method => 'get' do %>
  
    		<%= text_field_tag :search, params[:search] %>
    		<%= submit_tag "Search"%>

    <br>		
    Sort By:    
    <%= sortable "date", "Date" %>,
    <%= sortable "status", "Status" %>, 
    <%= sortable "priority", "Priority" %>,
    <%= sortable "jobnumber", "Job" %>
	</div>
</div>
</header>



 
<p id="notice"><%= notice %></p>


<!-- These are the hidden field tags and they are for maintaining persistance accross seraches and sorts-->

<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>


<!-- This is the search box -->
<div class = "group printhide">
    <!-- Gorup is a row -->

            <div class = "col span_7_of_12">
            </div>

        <div class = "col span_5_of_12">
			
		</div>

<% end %>

</div>
 
<!-- Moved the table to a partial to make it easier to manage 
  -->
<div id="requests"><%= render 'blog' %></div>

<%= will_paginate @requests %>
<br />
