<h1>Listing requests</h1>
 
<p id="notice"><%= notice %></p>


<!-- These are the hidden field tags and they are for maintaining persistance accross seraches and sorts-->

<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>


<!-- This is the search box -->
<div class = "group printhide">
    <!-- Gorup is a row -->

        <div class = "col span_5_of_12">
<%= form_tag requests_path, :method => 'get' do %>
  
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search"%>
</div>

        <div class = "col span_5_of_12">
  (By Name, Title and Job Number)
<% end %>
</div>

</div>
 
<!-- Moved the table to a partial to make it easier to manage 
  -->
<div id="requests"><%= render 'blog' %></div>

<%= will_paginate @requests %>
<br />
<div class ="printhide">
<%= link_to 'New Request', new_request_path %>
</div>