<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CSR</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <%= stylesheet_link_tag "application", :media => "all" %>
                <%= stylesheet_link_tag "main", :media => "all" %>

		
		<%= csrf_meta_tags %>
    </head>
    <body>

       
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="logoBg abs maxWidth">
          <div class="logo">
            <img src="http://www.lillypulitzer.com/assets/images/text/english/logo.png" />
          </div>
        </div>

        <div class="shell abs maxWidth">
  
          <div class="wrapper">
            
            <!-- Begin page content -->
            <article role="primarycontent">

                <div id="user_header">
        <% if current_user %>
          Logged in as <%= current_user.email %>.
          <%= link_to "Log Out", logout_path %>
        <% else %>
         
          <%= link_to "Log In", login_path %>
        <% end %>
          </div>
              <!-- Add your site or application content here -->
              <%= yield %>
            </article>
            <!-- End page content -->

             <footer>
                <div class="copyright">
                  <small>&copy; <script>var dt = new Date(); document.write(dt.getFullYear());</script> Lilly Pulitzer</small>
                </div>
           </footer>
         
          </div><!-- /wrapper-->
          
        </div> <!-- /shell -->
       
        <%= javascript_include_tag "application" %>
		
    </body>
</html>